.write {
    padding-top: 25px;
    width: 70%;
    margin: auto;
}
.writeForm {
    position: relative;
    border: 1px solid rgb(196, 162, 162);
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}
.writeImg {
  /* margin-left: 150px; */
  width: 70vw;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(136, 68, 68, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
    color: darkgray;
    cursor: pointer;
}
.writeInput {
    border: none;
    font-size: 30px;
    padding: 20px;
    outline: none;
    width: 70vw;
}
.writeText {
    font-size: 20px;
    height: 50vh;
}
.writeSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* Customize button */
.glow-on-hover {
  width: 100px;
  height: 50px;
  top: 20px;
  right: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #444;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  border-radius: 5px;
  opacity: 0.8;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}